{% extends 'mailings/base.html' %}

{% block optional_styles %}
    <style>
        #btn-index {
        background-color: #0d6efd;
        border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<aside>
    {% include "mailings/tools/navbar.html" %}
</aside>

<main>
    <div class="pt-5 row">
        <div class="col-2"></div>
        <div class="col-10">
            <h1 class="text-center">Главная</h1>
            <div class="text-secondary text-center">
                <p>Вы находитесь на сайте, предназначенном для управления почтовыми рассылками.</p>
                {% if user.is_authenticated %}
                <a href="{% url 'mailings:personal_statistic' %}" class="btn btn-sm btn-outline-primary">Мои рассылки</a>
                {% endif %}
                {% if perms.users.can_block_user %}
                <a href="{% url 'users:user_list' %}" class="btn btn-sm btn-outline-primary">Список пользователей</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
            <div class="card ps-0 pe-0 ms-4 me-5 my-3 container">
                <div class="card-header text-center ">
                    Общая статистика
                </div>
                <div class="card-body">
                    <p>Всего рассылок: {{ mailings_count }}</p>
                    <p>Всего запущенных рассылок: {{ started_mailings_count }}</p>
                    <p>Всего получателей: {{ recipients_count }}</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
