{% extends 'mailings/base.html' %}

{% block optional_styles %}
    <style>
        #btn-login {
        background-color: #0d6efd;
        border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<aside> <!-- Боковая панель (сайдбар) -->
    {% include "mailings/tools/navbar.html" %}
</aside>

<main>
    <div class="pt-5 pb-2 row">
        <div class="col-2"></div>
        <div class="col-10">
            <h1 class="pb-3 text-center">Сброс пароля</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 me-3"></div>
        <div class="col-7 ms-5">
            <div class="px-3 py-3 w-100 text-center">
                Письмо с инструкцией по восстановлению пароля отправлено на вашу почту
            </div>
        </div>
    </div>
</main>

{% endblock %}
